In [8]:
import streamlit
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm


df = pd.read_csv("data\공장별_생산현황.csv", index_col='year')
df

      factory_A  factory_B  factory_C
year
2014        100        150        200
2015        120        160        240
2016        130        170        260
2017         70        130        160
2018         90        150        240
2019        100        180        240
2020        120        160        260
2021        180        250        320

In [11]:
df2 = pd.read_csv("data\공장별_생산현황2.csv", index_col='year')
df2

        A    B    C
year
2014  100  150  200
2015  120  160  240
2016  130  170  260
2017   70  130  160
2018   90  150  240
2019  100  180  240
2020  120  160  260
2021  180  250  320